 /* POP-UP */

@media (max-width: 975px), (max-height: 768px) {
    .popup .close {
        display: none;
    }
    .popup.show {
        /* display: none; */
        height: fit-content;
        background-color: transparent;
        top: auto;
        bottom: 0;
        z-index: 99;
    }
    .popup .popup-content {
        width: 100%;
    }
    .form.mobile {
        left: -100%;
    }
    .map.mobile {
        position: absolute;
        width: 100%;
        display: block;
    }
    .map.mobile canvas {
        /* width: 100% !important;
        height: 100% !important;
        aspect-ratio: auto 975 / 768 !important; */
    }
}