@media (max-width: 975px), (max-height: 768px) {
    .modal.show {
        display: none;
    }
    .form.mobile {
        left: -100%;
    }
    .map.mobile {
        position: absolute;
        width: 100%;
        display: block;
    }
    .map.mobile canvas {
        width: 100%;
        height: 100%;
    }
}