*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header > nav > .burguer {
    display: none;
    position: relative;
    z-index: 10000;
}

.menu-burguer {
    position: fixed;
    z-index: 9000;
    translate: 100%;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    background-color: #0F3F63;
    color: #333;
    transition: translate .5s;
}

.menu-burguer ul {
    margin-top: 50px;
}

.menu-burguer li {
    list-style-type: none;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 15px;
}

.menu-burguer a {
    color: #333;
    text-decoration: none;
}


.hero > header {
    position: relative;
    height: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F3F63;
    color: white;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
}

@media (max-width: 1000px) {
    header > nav > ul {
        display: none;
    }
    header > nav > .burguer {
        display: block;
    }
    .menu-burguer.active {
        translate:0;
}
}
a{
    color: white;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration-line: underline;


    
}
a::after{
    content: " ";
    width: 0%;
    height: 4px;
    position:fixed;
    bottom: 0;
    left: 0;


}

a:hover::after{
    width: 100%;
    background-color: #EF9652;


}

.container{

    width: 1500px;
    max-width: 100%;
    height: calc(85vh - 30px);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
    display: flex;
    justify-content: space-between;
}

.box-right{
    position: relative;
    flex: 0%;
    background: #959DA5;
    height: 100%;

}
.container .box-right::before{
    content: '';
    position: absolute;
    top: 40px;
    width: 100%;
    height: 100%;
    background:rgb(255, 255, 255);
    opacity: 0.3;
    
}
.header{
    position: relative;
    width: 25%;
    height: 40px;
    background: #959DA5;
    padding: 0;
}


.cover{

    object-fit: cover;
}
.icons{
    display: flex;
}
.icons li{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #EF9652;

}



.search div ion-icon{
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
    bottom: 0%;
}
.block{
    position: relative;
    width: 100%;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.block.active{
    background: white;

}
.block.block.active:hover{
    background: lightgrey;
}
.block.imgbx{
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px; 
}
.chatlist .block .details{
    position: relative;
    width: 100%;
}
.chatlist .block .details .listhead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.chatlist .block .details h4{
    font-size: 1.1em;
    font-weight: 600;
    color: black;
}
.chatlist .block .details .listhead .time{
    font-size: 0.75em;
    color: rgb(85, 85, 85);
}
.chatlist .bloc.unread .details .listhead .time{
    color:#EF9652;
}

.message p{
    color: rgb(85, 85, 85);
    overflow: hidden;
}
.message b{
    background: rgb(85, 85, 85);
    color: white;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}
.img-perfil{
    position: relative;
    display: flex;
    align-items: center;
}
.img-perfil h4{
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 10px;
}
.img-perfil h4 span{
    font-size: 0.8em;
    color: #EF9652;
   

}



.chat{
    position: relative;
    width: 100%;
    height: calc(100%);
    padding: 50px;
    overflow: auto;
}
.messages{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}
.messages p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background-color: #ffbe8c;
    border-radius: 10px;
    font-size: 0.9em;
}
.messages p::before{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #ffbe8c 0%, #ffbe8c 50%,
    transparent 50%, transparent);
}
.messages p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.3;
}
.you-message{
    justify-content: flex-end;
}
.friend-message{
    justify-content: flex-start;
}
.friend-message p{
    background-color: white;
    text-align: left;
}
.messages.friend-message p::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, white 0%, white 50%,
    transparent 50%, transparent);
}
.chatbox-input{
    position: relative;
    width: 100%;
    height: 40px;
    background: #dededf;
    pad: 10px;
    align-items: center;
}
.chatbox-input ion-icon{
    position: relative;
    font-size: 1.8em;
    color: #ffbe8c;
    cursor: pointer;
}
.chatbox-input ion-icon:nth-child(1){
    margin-left: 15px;
}
.chatbox-input input{
    position: relative;
    width: 90%;
    margin: 0 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1em;
}
