*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header > nav > .burguer {
    display: none;
    position: relative;
    z-index: 10000;
}

.menu-burguer {
    position: fixed;
    z-index: 9000;
    translate: 100%;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    background-color: #0F3F63;
    color: #333;
    transition: translate .5s;
}

.menu-burguer ul {
    margin-top: 50px;
}

.menu-burguer li {
    list-style-type: none;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 15px;
}

.menu-burguer a {
    color: #333;
    text-decoration: none;
}


.hero > header {
    position: relative;
    height: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F3F63;
    color: white;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
}

@media (max-width: 1000px) {
    header > nav > ul {
        display: none;
    }
    header > nav > .burguer {
        display: block;
    }
    .menu-burguer.active {
        translate:0;
}
}
a{
    color: white;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration-line: underline;

    
}
a::after{
    content: " ";
    width: 0%;
    height: 4px;
    position:fixed;
    bottom: 0;
    left: 0;


}

a:hover::after{
    width: 100%;
    background-color: #EF9652;

}
header {
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 100px;
    height: 85px;
    padding: 0 50px;
}

header > .burguer {
    display: none;
    position: relative;
    z-index: 10000;
}

header > nav > ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav > ul > * {
    display: flex;
    gap: 30px;
}

.nav-menu > ul {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 975px) {
    header > nav > ul {
        display: none;
    }
    header > .burguer {
        display: block;
    }
    .menu-burguer.active {
        translate: 0;
    }
}
body {
    background-image: var(--gray-gradient);
    min-height: 100vh;
}

main {
    min-height: calc(100vh - 85px);
    color: #333;
    padding: 50px 50px;
}

.results-container {
    max-width: 1350px;
    margin: 0 auto;
}

.results-container > .results-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.results-header > select {
    background-color: white;
    opacity: 0.5;
    flex-basis: 300px;
    height: 25px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: var(--font-2);
}

.results-container > .results-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.results-cards > .cards {
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

.results-cards > .cards > .card-header, .results-cards > .cards > .card-bottom {
    display: flex;
    justify-content: space-between;
}

.results-cards > .cards > .card-bottom {
    align-items: flex-end;
}

.cards h1 {
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 18px;
}

.card-header > .icon {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: var(--blue);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.card-bottom > .money {
    font-family: var(--font-1);
    font-weight: 700;
    font-size: 28px;
}

.card-bottom > .graph {
    width: 50%;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.card-bottom > .graph > span {
    font-size: 12px;
}

.card-bottom .percentage.up {
    color: #83F061;
}

.card-bottom .percentage.down {
    color: #EF5152;
}

.results-cards > .card-history {
    grid-column: 1 / 3;
}

@media (max-width: 1200px) {
    .card-bottom > .graph {
        width: auto;
    }
    .card-bottom > .graph > span {
        display: none;
    }
}

@media (max-width: 975px) {
    .results-container > .results-cards {
        grid-template-columns: 1fr;
    }
    .results-cards > .card-history {
        grid-column: 1 / 1;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Rubik:ital@0;1&display=swap');

:root {
    --orange:  #ef9652;
    --blue: #2C6493;
    --blue-2: #5685b1;
    --gray: #cbcbcb;
    --font-1: 'Inter', sans-serif;
    --font-2: 'Rubik', sans-serif;
    --gray-gradient: linear-gradient(to bottom left, #dbdee3 1.17%, #dee3e9 23.12%, #e5e9ed 40.8%, #eef1f4 68%);
    --blue-gradient: linear-gradient(to bottom left, #0f3f63 7%, var(--blue) 23%, #3b75a5 37%, #5685b1 68%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-1);
    color: white;
    scroll-behavior: smooth;
}

a {
    color: #fff;
    text-decoration: none;
}

.card-history{
    grid-column: 1 / 3;


    
}
.teste{
    color: #333333;
text-align: left;
font-size: large;
margin-left: 10%;
line-height: normal

}
.teste1{

color: #333333;
margin-top: 10%;
font-size: large;
text-align: left;
line-height: normal
}
.teste2{
    color: #333333;
    font-size: large;
    text-align: center;
    line-height: normal
}
.teste3{
    color: #333333;
    font-size: large;
    text-align: center;
    line-height: normal
}
table{

    border-bottom:solid;
    border-collapse: collapse;
  border-radius: 5px;
  border-bottom: 3px solid rgba(211, 211, 211, 0.685);
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  padding: 5%;

}

td{
    border-bottom:solid;
    border-collapse: collapse;
  border-radius: 5px;
  border-bottom: 3px solid rgba(211, 211, 211, 0.685);
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  padding: 2%;
}
.nome{
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Inter Bold", "Inter", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;

}
.nome .mensagem{
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Inter Bold", "Inter", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;


}
.star{
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    color: #333333;
    text-align: center;
    line-height: normal;
}
.separar .h2{
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Inter Bold", "Inter", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;

}
