.hero {
    height: 70vh;
    background-image: url("../../imgs/Sobre/mealpro-efgpRGeu9tg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}