.config-container .row {
    margin-top: 15px
}

.row label {
    font-weight: 700;
    font-size: 28px;
}

.row .edit-row {
    display: flex;
    column-gap: 20px;
}

.edit-row > .input-container {
    width: 70%;
    border-radius: 3px;
    display: flex;
}

.edit-row > .input-container.edit {
    padding: 5px;
    border: solid 1px var(--blue);
    background-color: white;
    width: 100%;
}

.edit-row input:not(.btn) {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: var(--font-2);
    font-size: 20px;
    color: #333;
}

.edit-row .btn {
    display: none;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    font-family: var(--font-2);
    color: var(--orange);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

.edit-row > .input-container.edit .btn {
    display: block;
}

.edit-row .btn:hover {
    background-color: rgb(239, 239, 239);
}

.edit-row .btn.confirm {
    right: 15px;
    background-color: var(--orange);
    color: white;
}

.edit-row .btn.confirm:hover {
    background-color: #f18635;
}

.edit-row span {
    color: var(--orange);
}

.edit-row span:hover {
    text-decoration: underline;
}