input[type="time"]{
    padding:5px;
    border-radius:10px;
    border:1px solid rgba(184, 175, 175, 0.596);
    height:40px;
    width:120px;
    font-size:20px;
}

.edit-periodo {
    margin-left:10px;
    margin-top:10px;
    margin-bottom:15px;

}

.edit-periodo span{
   font-size:20px;
}