.results-cards > .card-history {
    overflow-y: auto;
}

main table {
    background-color: white;
    color: #333;
    margin-top: 13px;
    border-collapse: collapse;
    font-family: var(--font-2);
}

table thead tr {
    text-align: left;
}

table tbody tr {
    border-bottom: 2px solid var(--gray);
}

table td, table th {
    padding: 10px;
}

table th {
    color: #333333a3;
    font-family: var(--font-1);
    font-size: 18px;
}

table td.title {
    display: none;
}

@media (max-width: 680px) {
    main table {
        border-collapse: separate;
    }
    thead {
        display: none;
    }
    table tbody tr {
        display: block;
        margin-bottom: 15px;
        border-bottom: none;
    }
    td, table td.title {
        display: block;
        border: 1px solid var(--gray);
    }
    table tr td.title {
        font-family: var(--font-1);
        font-size: 18px;
        text-align: center;
    }
    tr td:not(.title) {
        display: grid;
        grid-template-columns: 10ch auto;
    }
    tr td:not(.title)::before {
        content: attr(data-content) ":";
        font-weight: bold;
    }
}