*{
    padding: 0;
    margin: 0;

}
header{
    padding: 20px;
    background-color: burlywood;
    margin-bottom: 20px;
}
body{
    background-image: url('../../imgs/login-cadastro/bg-login.svg');
    background-repeat: no-repeat;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    margin: 20px;
}
.links-Privaci a {
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    display: block;
    color: white; 
}