.links-itens {
    margin: 10px;
    max-width: 600px;
    height: 100%;
}

.Sobre-fretus {
    max-width: 600px;
    margin: 20px 10px;
    padding: 10px;
    font-size: 1.3rem;
    text-align: justify;

}

.links-Privaci {
    width: 100%;
    text-align: center;
}

.container-termos  h3 {
    margin: 15px 0;
    font-size: 1.5rem;
}

.container-termos {
    max-width: 700px;
    padding: 30px;
    border-radius: 10px;
    max-height: 610px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.25);
    text-align: left;
}

.link-bar {
    background-color: var(--orange);
    border: 2px solid var(--orange);
    padding: 8px;
    border-radius: 5px;
    margin: 0 50px;
    transition: all linear 0.3s ;
}
.Usolicença2 > p {
    margin: 15px 0;
    padding-left: 10px;
}
.poli-ef{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 15px;
    
    

}
.poli-ef::after{
    content: '';
    width: 90%;
    position: absolute;
    height: 5px;
    bottom:0 ;
    background: violet;
 
}



.link-bar:hover {
    color: var(--orange);
    background: none;
}
@media(max-width:1100px){
    main{
        flex-direction: column;
        width: 100%;
    }
    p,ol{
        padding: 10px;
        font-size: 1.5rem;
    }
    .links-Privaci{
        margin-top: 30px;
 
    }
    .Sobre-fretus{
        
        padding: 0;
        text-align: justify;
        width: 97%;
        max-width: none;
        
    }
    .container-termos{
        max-height: 100%;
        background: none;
        max-width: 100%;
        text-align: justify;
        padding: 15px;
    
    }

    .links-itens{
        max-width: none;
        width: 100%;
        
    }
}
